<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' \>
  <title>Domains</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootswatch Style Sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
    integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<!--Navigation bar--> 
<div id="nav-placeholder">

</div>

<!--end of Navigation bar-->

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Sentiment Analysis of News Headlines</h1>
        <div class="row h-100">
            <div class='col-md-6 text-right my-auto'>
              <div class='m-3'>
                <h4>Pick a News Source:</h4>
              </div>
            </div>
            <div class='col-md-6 text-left my-auto'>
              <div class='m-3'>
                <select id="domain-names"></select>
                <button id="refresh-btn" type="button" class="btn btn-dark p-2">Clear Filter</button>   
              </div>             
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-12">
        <h3 id="news-source"></h3>
        <hr>
        <h4>Sentiment Categories</h4>
      </div>
      <div class="col-md-4">
        <div id="bar-chart"></div>
      </div>
      <div class="col-md-8">
        <div id="bubble-chart"></div>
      </div>
      <hr>
    </div>
    <div class="row m-5">
      <div class="col-md-12  text-center">
        <h4>Most Frequent Keywords</h4>
        <div class="row h-100">
          <div class='col-md-6 text-right my-auto'>
            <div class='m-3'>
              <h5>Sentiment Category:</h5>
            </div>
          </div>
          <div class='col-md-6 text-left my-auto'>
            <div class='m-3'>
              <button id="all" type="button" class="btn btn-dark p-2 sent-btn">All</button>
              <button id="negative" type="button" class="btn btn-dark p-2 sent-btn">Negative</button>
              <button id="neutral" type="button" class="btn btn-dark p-2 sent-btn">Neutral</button>
              <button id="positive" type="button" class="btn btn-dark p-2 sent-btn">Positive</button>
            </div>             
          </div>
      </div>
      </div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-md-6">
        <div id="word-cloud"></div>
      </div>
      <div class="col-md-6">
        <div id="lollipop-chart"></div>
      </div>     
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- d3-cloud -->
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  <!-- Custom JS -->
  <script src="../static/js/domainlogic.js"></script>
  <script src='../static/js/navload.js'></script>

</body>

</html>