<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'\>
  <title>Domains</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootswatch Style Sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand bg-secondary" href="index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explore the Data
            </a>
            <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
              <a class="dropdown-item bg-secondary" href="">Domains</a>
              <a class="dropdown-item bg-secondary" href="">Keywords</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item bg-secondary" target='_blank' href="https://github.com/James-Ashley/sentiment-analysis-dashboard">Download the Code</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary" href="Visualizations/comparison.html">Methodology<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary" href="Assets/data.html">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Sentiment Analysis Domains</h1>
            <p>Select which domain you like to examine further</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Domains:</h5>
              <select id="" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="">
              <div class="">
                <h3 class="">Domain Info</h3>
              </div>
              <div id="" class=""></div>
            </div>
          </div>
          <div class="col-md-5">
            <div id=""></div>
          </div>
          <div class="col-md-5">
            <div id=""></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id=""></div>
          </div>
        </div>
      </div>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="./static/js/.js"></script>
      <script src="./static/js/.js"></script>
      <script src="./static/js/.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Template for Additional JS files/CDNs -->  
<script type="text/javascript" charset="utf8" src="add js file here"></script>

</body>

</html>