<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' \>
  <title>Machine Learning</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootswatch Style Sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
    integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<!--Navigation bar-->
<div id="nav-placeholder">

</div>
<!--end of Navigation bar-->

<body>
  <div class="container">
  <div class="row justify-content-evenly">
    <div class="col-md-12 mt-5 text-center">
      <h2>Sentiment Classification Using Machine Learning</h2>
    </div>
    <div class="col-md-12">
      <div id="data" class='mt-5'>
        <div class="row m-3">
          <div class="col-md-8">
            <h4>Data Preprocessing</h4>
            <img class="img-fluid" src="../static/images/text_processing.jpg"/> 
            <h6>Headline Preprocessing</h6>
            <ul>
              <li>Text was tokenized using the NLTK RegexpTokenizer.</li>
              <li>The NLTK English stopwords (except for negators) were removed.</li>
              <li>Part of Speech (POS) was tagged using NLTK.</li>
              <li>Text was lemmatized using the WordNetLemmatizer.</li>
            </ul>
            <h6>Feature Selection</h6>
            <ul>
              <li>Newspaper source reduced model accuracy.</li> 
              <li>NGrams reduced model accuracy.</li>
              <li>Word2Vec and Hashing + TF-IDF were compared. Hashing + TF-IDF was more accurate.</li>
            </ul>
            <h4 class='mt-5'>Machine Learning Models</h4>
            <h6>Selected Models</h6>
            <ul>
              <li>Naive Bayes</li>
              <li>One vs. Rest (with a Logistic Regression Classifier)</li>
              <li>Multilayer Perceptron Classifier</li>
            </ul>
            <h6>Testing/Training</h6>
            <ul>
              <li>For all models, a stratified 80/20 training/testing split was used.</li>
              <li>All models were generated in pySpark.</li>
              <li>All models were evaluated using the Multiclass Classifier Evaluator in pySpark.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div id="libraries">
                  <h6 class="card-title">Libraries</h6>
                  <ul>
                    <li>NLTK
                      <ul>
                        <li>Vader</li>
                        <li>RegexpTokenizer</li>
                        <li>POS Tagger</li>
                        <li>stopwords (English)</li>
                        <li>WordNetLemmatizer</li>
                      </ul>
                    </li>
                    <li>numpy</li>
                    <li>pandas</li>
                    <li>pySpark
                      <ul>
                        <li>HashingTF</li>
                        <li>IDF</li>
                        <li>Word2Vec</li>
                        <li>NGrams</li>
                        <li>Naive Bayes</li>
                        <li>Logistic Regression</li>
                        <li>One vs Rest</li>
                        <li>Multilayer Perceptron Classifier</li>
                        <li>Multiclass Classification Evaluator</li>
                      </ul>
                    <li>TextBlob</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="results">
        <div class="row m-3">
          <div class="col-md-10">
            <h4>Model Accuracy</h4>
            <!-- place holder image -->
            <div id='accuracy-chart'></div>
            <p>Our models were more accurate than a trained NaiveBayes TextBlob classifier while NLTK Vader performed only slightly better than our models</p>
            <h6>Future Work</h6>
            <ul>
              <li>More data is needed to create a more accurate model.</li>
              <li>Other types of models such as deep learning models could also be trained.</li>
            </ul>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>    
  </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Custom JS -->
  <script type="text/javascript" charset="utf8" src="../static/js/navload.js"></script>
  <script type="text/javascript" charset="utf8" src="../static/js/mlearninglogic.js"></script>
</body>

</html>